@model AuthUserModel
@{
    var _user = Model;
}
<div class="container">

    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input class="form-control" id="username" value="@(_user.UserName)">
    </div>
    <div class="mb-3">
        <label for="fullname" class="form-label">Full name</label>
        <input class="form-control" id="fullname" value="@(_user.FullName)">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" value="@(_user.Email)">
    </div>

    <button id="btnSave">Save</button>

</div>

@section scripts {
    <script>
        $('#btnSave').click(function (e) {
            const Username = $("#username").val();
            const Fullname = $("#fullname").val();
            const Email = $("#email").val();

            const rm = { Username,Fullname,Email};

            console.log(rm);
            $.ajax({
                type: "POST",
                url: '/auth/update/@(Model.UserId)',
                data: {
                    reqModel: rm
                },
                dataType: "json",
                // contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                    alert('success');
                    location.href = "/auth/user/@(Model.UserId)"
                },
                error: function (ex) {
                    alert('failed');
                    console.log(ex.status);
                }
            }
            );
        })
    </script>
}