@model AuthUserModel
@{
    var _user = Model;
}
<div class="container">

    <div class="mb-3">
        <label for="old" class="form-label">Old Password</label>
        <input class="form-control" id="old" value="@(_user.Password)">
    </div>
    <div class="mb-3">
        <label for="new" class="form-label">New Password</label>
        <input class="form-control" id="new">
    </div>

    <button id="btnChange">Change</button>

</div>

@section scripts {
    <script>
        $('#btnChange').click(function (e) {
            const Old = $("#old").val();
            const New = $("#new").val();

            const rm = { Old, New};

            console.log(rm);
            $.ajax({
                type: "POST",
                url: '/auth/updatePassword/@(Model.UserId)',
                data: {
                    reqModel: rm
                },
                dataType: "json",
                // contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                    alert('success');
                    location.href = "/auth/user/@(Model.UserId)"
                },
                error: function (ex) {
                    alert('failed');
                    console.log(ex.status);
                }
            }
            );
        })
    </script>
}